on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

name: Check and Lint

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
          cache-on-failure: true

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Check Formatting
        run: cargo fmt --all -- --check
        working-directory: rust

      - name: Check
        run: cargo check --all-targets
        working-directory: rust

      - name: Lint
        run: cargo lint -- -Dwarnings
        working-directory: rust

      - name: Run Rust
        run: ./ci-script.sh

      - name: upload PNGs
        uses: actions/upload-artifact@v4
        with:
          path: |
            adsorption.png
            adsorption_rust.png
